#source
outil_developpeur.php
data/*
cache/*
systeme/make-your-style/cache_systeme/*
systeme/make-your-style/tables/monframework/cache/*
systeme/make-your-style/tables/monframework/mf_connexion.sessions/*
fichiers/*

#eclipse
.buildpath
.project
.settings/*

#jetbrains
.idea/*

#config
systeme/make-your-style/config_localhost.php

#autres
~*
