* {
    box-sizing: border-box;
    margin: auto;
    color : whitesmoke;
}

body {
    font-family: "Quicksand";
    background-color: #363c8b;
}

h1{
   /*color: #898989;*/
    text-transform: capitalize;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 3%;
    margin-bottom : 2px;
    margin: red;
    border-bottom: 1px solid red;
}

.menu{
    display: flex;
    text-align: center;
    align-content: space-between;
    flex-direction: row;
    text-transform: capitalize;
    justify-content: space-around;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    
}

.module_principal{
    background-image: url(image/rue_enneigee.webp);
    background-size: 100%;
    height: 100%;
    width: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.images{
    display: flex;
}

.croquis{
}

.articles{
    font-size: 15px;
    justify-content: space-around;
    width: 40%;
}

.nom_vetement{
    font-weight: bolder;
    color:red;
    text-transform: capitalize;
    padding-right:1%; 
}

.encart_vetement{
    padding: 2% 1% 2% 1%;
    color:blueviolet;
}

.footer{
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    align-content: center;
}