.card {
  margin-bottom: ($spacer * 1.5);
  box-shadow: $box-shadow;
}

a.card {
  cursor: pointer;
}

.card-header {
  background: transparent;
}

.card-body {
  padding-top: ($spacer * 0.75);
}

.card-title {
  font-size: $font-size-lg;
  color: $gray-700;
}

.card-subtitle {
  font-weight: $font-weight-normal;
}

.card-table {
  margin-bottom: 0;
}

.card-table tr td:first-child,
.card-table tr th:first-child {
  padding-left: $card-spacer-x;
}

.card-table tr td:last-child,
.card-table tr th:last-child {
  padding-right: $card-spacer-x;
}

.card-img-top {
  height: 100%;
}

.card-actions {
  a {
    color: $body-color;
    text-decoration: none;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  .dropdown {
    line-height: 1.4;
  }
}
