*{
    box-sizing: border-box;
    margin : 0;
    font-family: 'Roboto Mono', serif;
    
}
/*     HEADER                */
header{
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
}
header h1{
    margin-bottom: 20px;
}

/*MISE EN PLACE DU FORMULAIRE*/

.formulaire{
    font-family: Normal;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);

}


.formulaire input[type="text"],
.formulaire input[type="date"],
.formulaire input[type="email"],
.formulaire input[type="password"],
.formulaire input[type="checkbox"],
.formulaire select 
{
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 45px;
}

.formulaire input[type="button"], 
.formulaire input[type="submit"]{
    background-color: #25273E;
    border:3px solid #FFFFFF;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Normal;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

/*                                     */
/*                                     */
#ajout_utilisateur{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
/*MISE EN PLACE DU TRAIT SEPARANT LES DEUX PARTIES*/
#trait{
    background-color: black;
    height: 600px;
    width: 1px;
    margin-top: 100px;
}