* {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: "Quicksand";
    background-color:  whitesmoke;
}

p {
    color: #2A6B79;
}

.header{

    border-bottom : 2px;
}

#menu{
    display :flex;
    align-content: center;
    align-items: center;
     color: white;
    
}

h1{
   color: #2A6B79;
    text-transform: capitalize;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 3%;
    border-bottom : 2px;
    border-color: red;
    font-size: 70px;
}

#espacelog {
    display: flex;
    justify-content: space-around;
    color: #EAE3B7;
    align-content: center;
    align-items: center;
    border-top: 2px solid red;
    padding-top: 5%;
}

#module_principal{
    position : relative;
    display: flex;
    flex-direction: row;
    background-color :#EAE3B7;
    background-size: 100%;
    height: 800px;
    width: auto;
    padding-top: 5%;
    border: 2px;
    border-bottom-color: red;

    margin: 5% 5% 5% 5%;
}


.bouton{
    border:none;
    border-radius: 10px;
    text-align: center;
    background-color:deeppink;
    text-transform: uppercase;
    color:white;
    margin:auto;
    padding 20px 20px 20px 20px;
    width:150px;
}

img{
    height: 200px;
    width: 400px;
}

.partie_du_corps {
    font-weight: bolder;
    color : red;
    padding-left: 1%;
}

.footer{
    display: flex;
    height: 10%;
}

#texte_footer {
    font-style: italic;
}

#partie_croquis {

   background-image: url(bonhomesvg.svg);
   width: 650px;
   height: 1000px;
   background-repeat: no-repeat;
  display: flex;
  padding-left: 0;
  margin-left: 0;
  padding-right: 0;
  margin-right: 0;
}

#gestion_couleur{
  display: flex;
   height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 100 0 100 0;
  padding-left: 0;
  margin-left: 0;
}


#tee_shirt {
    width: 18%;
    height: auto;
    position : absolute;
    top:85px;
    left:248px;
    z-index: 1
}

#path{
    top : 290px;
    width: 17%;
    left:256px;
    position : absolute;
    z-index: 2

}

.Chaussure{
    top: 180px;
    width: 150px;
    position : absolute;

}

#Chaussure_droite{
    left: 430px;
}

#Chaussure_gauche{
    left: 160px;
    transform: rotateY(180deg);
}



#croquis{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width : auto;



}

#couvre_chef{
    display: flex;
    justify-content: center;
    height: 8%;
    width : auto;
}

#tete{
    display: flex;
    justify-content: center;
    height: 8%;
    width : auto;
}



#cou{
    display: flex;
    justify-content: center;
    height: 3%;
    width : auto;
}

#tronc{
    display: flex;
    justify-content: center;
    height: 35%;
    width : auto;
}

#ceinture{
    display: flex;
    justify-content: center;
    height: 3%;
    width : auto;
}

#pantallon{
    display: flex;
    justify-content: center;
    height: 35%;
    width : auto;
}

#pieds{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 8%;
    width : auto;
}



